anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
scikit-learn
statsmodels
openpyxl
charset-normalizer
chart-studio
comm
contourpy
cycler
DateTime
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
fqdn
seaborn
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-lsp
jupyter-server
jupyter_client
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
retrying
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
tenacity
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
tzdata
uri-template
uritemplate
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
zope.interface